<% include ../__include/__top.ejs %>
<link rel="stylesheet" href="<%- $$._path(__filename)("css") %>">

<draggable @end="_on_end">
    <div v-for="i in r.filter(x => !x.c2)">
        {{i.c1}}
        <draggable @end="_on_end">
            <div v-for="j in r.filter(x => x.c1 == i.c1 && x.c2)" :key="j._id"> - {{j.c2}}</div>
        </draggable>
    </div>
</draggable>

<!--
<draggable :list="r">
<div v-for="i in r">
    {{i.c1}} {{i.c2 && '-' + i.c2}}
</div>
</draggable>
-->


<div v-for="i in r.forEach(z => _.pick(z, 'idx'))">
    {{i}}
</div>

<% include ../__include/__bottom.ejs %>
<script src="<%- $$._path(__filename)("js") %>"></script>
