<% include __include/__top_1.ejs %>
<link rel="stylesheet" href="/css/admin/__category.css">

    <button @click="_save" v-if="_hasToUpdate">update</button>

    <br>
    <br>

    <sortable :items="items" :depth="2" :opened="1" :link="1" :setting="1"></sortable>

<% include __include/__bottom_1.ejs %>
<script src="/js/admin/__category.js"></script>
