<% include __include/__top_1.ejs %>
<% include ____product.ejs %>
<link rel="stylesheet" href="<%- $$._path(__filename)("css") %>">

<search></search>


<table class="table_100 _excel">
    <thead>
        <td width="10%">NO</td>
        <td width="15%" class="_no_excel">IMG</td>
        <td width="30%">PRODUCT NAME</td>
        <td width="30%">OPTION</td>
        <td width="15%">PRICE</td>
    </thead>
    
    <template v-for="(m, n) in _.uniq(x.r, 'idx')">
        <tr class="list_value" :idx="m.idx">
            <td :rowspan="m.row_cnt"><paging :x='x' :n='n'></paging></td>
            <td :rowspan="m.row_cnt" class="_no_excel"><img v-for="(img, i) in (m.imgs || '').split(',')" :src="'/upload/thumb/100/' + img" :alt="m.idx + ':' + i" v-if="m.imgs"></td>
            <td :rowspan="m.row_cnt" class="_left" :title="m.idx" @click="_select(m.idx)">{{m.name}}</td>
            <td class="_left">{{m.opt1}}</td>
            <td :rowspan="m.row_cnt" class="_right">{{m.price}}</td>
        </tr>
        <tr class="list_value_sub" v-if="m.row_cnt > 1" v-for="s in x.r.filter(i => i.idx == m.idx).slice(1)">
            <td class="_left">{{s.opt1}}</td>
        </tr>
    </template>
</table>

<paging :x='x'></paging>

<% include __include/__bottom_1.ejs %>
<script src="<%- $$._path(__filename)("js") %>"></script>



