<% include ../__include/__top_1.ejs %>
<link rel="stylesheet" href="<%- $$._path(__filename)("css") %>">


<table>
    <tr>
        <td>name</td>
        <td><input type="text" v-model="form.name"></td>
    </tr>
    <tr>
        <td>price</td>
        <td><input type="text" v-model="form.price"></td>
    </tr>
    <tr>
        <td>description</td>
        <td><input type="text" v-model="form.description"></td>
    </tr>
</table>

<table>
    <tr>
        <td><input type="text" v-model="form.opt1_name"></td>
        <td><input type="text" v-model="form.opt2_name"></td>
        <td><button @click="_opt_add">+</button></td>
    </tr>
    <tr v-for="(v, k) in form.opt">
        <td><input type="text" v-model="v.opt1"></td>
        <td><input type="text" v-model="v.opt2"></td>
        <td><button @click="_opt_remove(k)">-</button></td>
    </tr>
</table>

<files></files>

<exec :idx="form.idx" :excel="'product_list'" :reset="isDirtyForm"></exec>

<search :v="x.qs.s_value"></search>

<table class="_table_100 _excel">
    <thead>
        <td width="10%">NO</td>
        <td width="15%" class="_no_excel">IMG</td>
        <td width="30%">PRODUCT NAME</td>
        <td width="30%">OPTION</td>
        <td width="15%">PRICE</td>
    </thead>
    
    <template v-for="(m, n) in _.uniq(x.r, 'idx')">
        <tr class="list_value" :idx="m.idx">
            <td :rowspan="m.row_cnt"><paging :x='x' :n='n'></paging></td>
            <td :rowspan="m.row_cnt" class="_no_excel"><img v-for="(img, i) in (m.imgs || '').split(',')" :src="'/upload/thumb/100/' + img" :alt="m.idx + ':' + i" v-if="m.imgs"></td>
            <td :rowspan="m.row_cnt" class="_left" :title="m.idx" @click="_select(m.idx)">{{m.name}}</td>
            <td class="_left">{{m.opt1}}</td>
            <td :rowspan="m.row_cnt" class="_right">{{m.price}}</td>
        </tr>
        <tr class="list_value_sub" v-if="m.row_cnt > 1" v-for="s in x.r.filter(i => i.idx == m.idx).slice(1)">
            <td class="_left">{{s.opt1}}</td>
        </tr>
    </template>
</table>

<paging :x='x'></paging>

<% include ../__include/__bottom_1.ejs %>
<script src="<%- $$._path(__filename)("js") %>"></script>



