<% include __include/__top_1.ejs %>


<tabs>
    <tab :title="'tab one'">
        Download the Vue Devtools extension for a better development experience:
        https://github.com/vuejs/vue-devtools
        vue@2.2.6:7265 You are running Vue in development mode.
    </tab>

    <tab :title="'tab two'" :select="true">
        https://github.com/vuejs/vue-devtools
        See more tips at https://vuejs.org/guide/deployment.html
    </tab>
    <tab :title="'tab three'">
        vue@2.2.6:7265 You are running Vue in development mode.
        Make sure to turn on production mode when deploying for production.
        See more tips at https://vuejs.org/guide/deployment.html        
    </tab>
    <tab :title="'tab four'">
        Make sure to turn on production mode when deploying for production.
        See more tips at https://vuejs.org/guide/deployment.html        
    </tab>
</tabs>


<% include __include/__bottom_1.ejs %>

<script>
    
    Vue.component("tab", {
        template: `
            <div v-if="isSelected">
                <h1>{{title}}</h1>
                <pre><slot></slot></pre>
            </div>
        `,
        
        data () {
            return {
                isSelected: false
            }
        },
        
        created () {
            this.isSelected = this.select
        },
        
        props: ['title', 'select']
    })
    
    
    Vue.component("tabs", {
        template: `
            <div>
                <div v-for="(item, i) in items"><span @click="_select(i)" :class="{_select: item.isSelected}">{{item.title}}</span></div>
                <slot></slot>
            </div>
        `,
        
        data () {
            return {
                items: []
            }
        },
        
        mounted () {
            this.items = this.$children
        },
        
        methods: {
            
            _select(i) {
                this.items.map((item, q) => {item.isSelected = i == q ? true : false})
            }
        }
    })
    
    
    var vue = new Vue({
        el: "#_root"
    })    


</script>



<style>
    ._select {
        text-decoration: underline;
    }
    
pre {
    display: block;
    font-family: monospace;
    white-space: pre-line;
    margin: 1em 0;
}    
</style>