<% include __include/__top_1.ejs %>
<link rel="stylesheet" href="<%- $$._path(__filename)("css") %>">

<files></files>
<exec :idx="form.idx" :reset="true"></exec>

<div>
    <div v-for="(d, n) in x.r" @click="_select(d.idx)">
        <h1>{{n+1}}</h1>
        <div v-for="i in d.imgs.split(',')" v-if="d.imgs">
            <img :src="'/upload/thumb/100/' + i" :alt="i"> {{i.substr(i.indexOf('_')+1)}}
        </div>
    </div>
</div>


<% include __include/__bottom_1.ejs %>
<script src="<%- $$._path(__filename)("js") %>"></script>
