@first: #9cf;
@two: green;
@size-middle: 20px;
@size-small: 13px;

html {
    height: 100%;
}

body {
    margin: 0;
    font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	font-style: normal !important;
	font-variant: normal !important;
	letter-spacing: 0.7px !important;
	max-width: 1400px;
	padding: 115px 15px 150px 215px !important;
}

#__top_1__top {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: aliceblue;
    border-bottom: 1px solid #cce;
}

#__top_1__left {
    position: fixed;
    width: 200px;
    height: calc(100% - 100px);
//    height: 500px;
    top: 100px;
    left: 0;
    z-index: 10;
    background-color: aliceblue;
    overflow-y: auto;    
}


a {
	text-decoration: none;
	color: inherit;
}

* {
	font-family: inherit;
}


*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}



li {
    color: @first;
    font-size: @size-middle;
}

li div {
    color: @two;
    font-size: @size-small;
    padding: 3px;
}

._selected {
    background-color: #000;
    color: #fff;
}

._files img {
    display: block;
    max-width: 100px;
}

._files._isNew {
    background-color: #9cf;
}

._files._del {
    background-color: #aaa !important;
}
