    </div>
    <script>
        var $$ = <%- JSON.stringify($$) %>
        $$.r = <%- JSON.stringify(r) %>

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/async/2.4.0/async.min.js"></script>
    <script src="https://cdn.jsdelivr.net/sortable/1.4.2/Sortable.min.js"></script>
    <script src="https://unpkg.com/vue@2.2.6"></script>
    <script src="https://cdn.rawgit.com/David-Desmaisons/Vue.Draggable/master/dist/vuedraggable.min.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/common/__search.js"></script>
    <script src="/js/common/__paging.js"></script>
    <script src="/js/common/__files.js"></script>
</body>

</html>