<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- $$.title -%>
    </title>
    <link rel="stylesheet" href="/css/common/common.css">
</head>

<body>
    <div id="_root">
