<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%- $$.title -%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/common/common.css">
    <link rel="stylesheet" href="/css/common/component.css">
    <link rel="stylesheet" href="/css/admin/admin_1.css">
</head>

<body>
    <% include __top_1__top.ejs %>
    <% include __top_1__left.ejs %>
    <% include __top_1__head_1.ejs %>
    <% include __top_1__head_2.ejs %>
    <% include __top_1__head_3.ejs %>
    <div id="_root">
